<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PollStation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PollStation.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-transparent">

            <div class="container">

                <!-- LOGO -->
                <a class="navbar-brand" asp-area="" asp-page="/Index"></a>

                <!-- TOGGLE BUTTON (mobile) -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- NAV CONTENT -->
                <div class="collapse navbar-collapse" id="navbarContent">

                    <!-- LINKS -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/PollIndex">Poll's</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Privacy">About</a>
                        </li>

                    </ul>

                    <!-- RIGHT SIDE (USER INFO) -->
                    <div class="d-flex align-items-center">

                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <span class="me-3">
                                Welcome @User.Identity.Name
                            </span>

                            <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Index">
                                <button class="commentBtn">
                                    Logout
                                </button>
                            </form>
                        }
                        else
                        {

                            <span class="me-3">
                                Welcome Guest
                            </span>

                                <form method="post" asp-area="Identity" asp-page="/Account/Login">
                                    <button class="commentBtn">
                                        Login
                                    </button>
                                </form>

                        }

                    </div>

                </div>

            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container footerStyle">
            &copy; 2026 - VarkevisserDevelopment
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    body {
        background-color: #fafafa;
    }

    .navbar {
        border-bottom: solid 2px black;
        max-height: 4rem;
    }

    .navbar-brand {
        width: 400px;
        height: 120px;
        background-image: url('/Images/PollstationHeaderText1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        margin-left: 1rem;
        padding: 0;
    }

    .customUserIcon {
        width: 30px;
        height: 30px;
    }

    .userInfo {
        display: flex;
    }

    .footer {
        border-top: solid 2px black;
    }

    .footerStyle {
        display: flex;
        justify-content: end;
    }

    .commentBtn {
        width: 150px;
        height: 60px;
        background-image: url('/Images/CommentTextBoxShadow.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        padding: 0;
        margin-left: 1rem;
    }

    .commentBtn:hover {
        width: 200px;
        height: 90px;
        background-image: url('/Images/CommentTextBoxhovered.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        padding: 0;
        margin-left: 1rem;
    }
</style>