@page
@model PollStation.Pages.CreatePollModel

<h1>Create Poll</h1>

<form method="post">

    <div class="form-group">
        <label>Question</label>
        <input asp-for="Poll.Question" class="form-control" />
    </div>

    <div class="form-group mt-3">
        <label>Option 1</label>
        <input name="Options" class="form-control" />
    </div>

    <div class="form-group mt-2">
        <label>Option 2</label>
        <input name="Options" class="form-control" />
    </div>

    <div class="form-group mt-2">
        <label>Option 3</label>
        <input name="Options" class="form-control" />
    </div>

    <div class="form-group mt-2">
        <label>Option 4</label>
        <input name="Options" class="form-control" />
    </div>

    <button class="btn btn-primary mt-3">
        Create Poll
    </button>

</form>